.bluetext {
    color: blue;
    text-align: right;
 }
 .righttext {
     text-align: right;
 }
 .statementblock {
     max-width: 300px;
     display: inline-block;
 }


.list{
    list-style: none;
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1px;
   }
   
   img {
     max-width: 100%;
     max-height:100%;
     border-radius: 50%;
     background-color: grey;
   }
   
   .text {
     font-size: 20px;
   }